!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HK News
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      %nav.navbar.navbar-default.navbar-cls-top{:role => "navigation", :style => "margin-bottom: 0"}
        = link_to 'Home', root_path

        .top-info
          - if current_user
            = current_user.email
            = link_to 'logout', destroy_user_session_path, :method => :delete, :id => 'logout', class: 'btn btn-KZ square-btn-adjust'
          - else
            = link_to 'sign in', new_user_session_path
    #error
      = flash[:error]
    = yield
